* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #f6f8f9;
}

/* inizio nav */

nav {
    background-color: white;
}

#logo {
    vertical-align: middle;
    margin: 15px 0px 25px 15px;
}

h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
}

/* fine nav */

main {
    margin: 50px 150px;
    background-color: white;
    border-radius: 50px;
}

/* inizio sezione bottoni */

#buttons {
    padding: 20px 0px 10px 75px;
    border-bottom: #c7cdd2 2px solid;
}

.button {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.task {
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
}

.section {
    background-color: white;
    color: #c7cdd2;
    border-color: #c7cdd2;
}

/* fine sezione bottoni */